@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global resets */
html,
body,
#root {
  height: 100%;
}

/* Optional: smoother text rendering */
body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
